@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&family=Manrope:wght@200..800&display=swap');
:root{
    --bg-color:black;
    --t1-color:white;
    --t2-color:#e90c06;
    --t3-color:black;
    --p-font:11px;
    --h-font:80px;
    --t-font:16px;
    --font1:'Manrope';
    --font2:'Handjet'
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition:all .50s ease;
    background-color: var(--bg-color);
    color: var(--t1-color);
    
}

/*HEADER*/

header{
    font-family:var(--font1);
}

.navbar{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:35px 380px;
    font-size: var(--p-font);
    
}
.navbar a {
    text-decoration: none;
    color: var(--t1-color);
    font-weight: 200;
    padding: 7px 17px;
    border-radius: 50px;
}

.navbar a:hover {
    background: var(--t2-color);
    color: var(--t3-color);
    font-weight: 400;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}


/*INTRODUCTION SECTION*/

.intro{
    padding:30px 300px;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-family:var(--font2);
    height:80vh;
}

.intro h1{
    font-weight:500;
    font-size: var(--h-font);
}
.hero-title{
    margin-top:-100px;
}
.hero-title .line {
  display: block; 
  text-align: right;
}

.accent {
  color: var(--t2-color);
  display: inline;
}
.hey{
    font-size: 40px;
}

.intro img{
    width:295px;
    height:400px;
}

.image-logo {
  position: relative;
  width: 320px; 
}

.profile-img {
  width: 100%;
  border-radius: 24px;
  display: block;
}

.icons {
  position: absolute;
  bottom:0px;
  left: 12px;
  display: flex;
  flex-direction: column;
  gap:1px;
}

.icons img {
  width: 33px;
  height: 33px;
  background:none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.gmail img{
    width:33px;
    height:28px;
}

/*ONE-LINER*/

.one-liner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    padding:75px 100px;

}

.opening, .closing{
    font-family: var(--font2);
    color: var(--t2-color);
    font-size: var(--h-font);
    font-weight: 400;
}

.text{
    font-family: var(--font1);
    font-weight:200;
    font-size: var(--t-font);
}

.text-break{
        display:block;
}


/*QUICK LINKS*/

.quick-links, .work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:75px 150px;
    gap:40px;
    font-family: var(--font1);
    font-weight: 200;
    font-size: var(--t-font);
}

.quick-links h2{
    font-family: var(--font2);
    font-size:40px;
    font-weight: 400;
    align-self: flex-start;
    
}

.link-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:80px;
}

.link-btns button{
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
    font-family: var(--font1);
    font-size: var(--t-font);
    width:150px;
    height:50px;
    border-radius: 50px;
}

.btn-1{
    background-color: var(--t2-color);
    color: var(--t3-color);
    font-weight: 400;
    border: none;
}

.link-btns button:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.btn-2{
    background-color: rgba(255, 255, 255, 0.3);
    border:solid 1.5px rgba(255, 255, 255, 0.5);
    color: var(--t1-color);
    font-weight: 400;
}

/*WORK*/


.work h2{
    font-family: var(--font2);
    font-size:40px;
    font-weight: 400;
    align-self: flex-start;
    
}

.work-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border:solid 1.5px var(--t2-color);
    border-radius: 20px;
    width:75vw;
    height:250px;
    padding-left:20px;
    padding-right:20px;
    gap:20px;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
}
.p1-img{
    object-fit: cover;
    width:30vw;
    border-radius: 10px;
    height:200px;
}

.p-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

.p-heading h2{
    font-size:35px;
}

.p-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.p-desc{
    font-size: 14px;
}

.p-tech button{
    background-color: rgba(255, 255, 255, 0.3);
    border:solid 1.5px rgba(255, 255, 255, 0.5);
    color: var(--t1-color);
    border-radius: 5px;
    padding:5px;
    margin:5px 5px;
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 200;
}

.p-links img{
    width:28px;
    height:28px;
}

.view-all{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

}

/*TIMELINE*/

/*ABOUT*/

/*PROJECTS*/

/*CONTACT*/

/*FOOTER*/

footer{
    background-color: var(--t2-color);
    position:relative;
    width:100%;
    height:70px;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0px 60px 0px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}

footer p{
    background:none;
    font-family: var(--font1);
    color:var(--t3-color);
    font-size: var(--t-font);
    font-weight: 500;
}

